.strong {
  font-weight: bold;
}

html, body {
  height: 100%;
}

body {
  background-size: 100% 100%;
  padding-bottom: 500px;
}

.group {
  padding: 10px 20px;
}

.affix {
  top: 0;
  width: 100%;
  padding: 15px;
}

#exp, #exp_dsp, #flags, #match, #txt {
  font-size: 14px;
}

#exp {
  min-height: 34px;
  padding: 6px 12px;
  margin: 0;
}

#exp:focus {
  outline: 0;
}

.popover {
  max-width: 100%;
  width: auto;
}

#exp_dsp {
  display: inline-block;
  cursor: pointer;
  white-space: pre-wrap;
}

#exp_dsp .error {
}

#match {
  border-radius: 3px;
  padding: 10px;
}

.g {
  white-space: pre-wrap;
  border-radius: 4px;
}

#txt {
  min-height: 300px;
}

#txt:focus {
  outline: 0;
}

#txt i, #txt b {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}

