.strong {
  font-weight: bold;
}

html, body {
  height: 100%;
}

body {
  background-size: 100% 100%;
  padding-bottom: 500px;
}

.group {
  padding: 10px 20px;
}

.affix {
  top: 0;
  width: 100%;
  padding: 15px;
}

#exp, #exp_dsp, #flags, #match, #txt {
  font-size: 14px;
}

#exp, #exp_dsp, #flags, #match, #txt, body {
    font-family: Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

#exp {
  min-height: 34px;
  padding: 6px 12px;
  margin: 0;
}

#exp:focus {
  outline: 0;
}

.popover {
  max-width: 100%;
  width: auto;
}

#exp_dsp {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 4px;
  font-size: 16px;
}

#exp_dsp .error {
}

#match {
  border-radius: 3px;
  padding: 10px;
  word-break: break-all;
}

.g {
  white-space: pre-wrap;
  border-radius: 4px;
}

#txt {
  min-height: 300px;
}

#txt:focus {
  outline: 0;
}

#txt i, #txt b {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 23px;
  float: right;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: 10px;
  height: 18px;
  width: 18px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  margin-left: -2px;
  margin-top: -2px;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}

#flags_col .tooltip-inner {
  white-space: pre-wrap;
  line-height: 10px;
  text-align: start;
}

#flags_col .tooltip-inner b {
  font-size: 17px;
}

#flags_col.responsive {
  margin-top: 12px;
}

#flags_col.responsive #buttons {
  float: right;
  height: 20px;
  margin-top: 7px;
}

#flags.responsive {
  max-width: 50%;
}

.tooltip.in {
  opacity: 1;
}

.dialog-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.dialog-table {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  display: table;
  position: fixed;
}

.dialog-cell {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.dialog-box {
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

.dialog-close-button {
  float: right;
  margin-top: 0px !important;
  margin-right: 1px;
  padding: 5px 2px 4px 2px;
  border-radius: 3px;
  margin-top: -4px;
  font-size: 26px;
  line-height: 10px;
  user-select: none;
}

.dialog-close-button:hover {
  background-color: #263238;
  cursor: pointer;
}

.dialog-box input[type="number"] {
  width: initial;
  display: inline-block;
}

#open-settings-button {
  cursor: pointer;
}

.settings-button {
  width: 20px;
}

.settings-button-stroke {
  stroke-miterlimit:10;
}

#settings label {
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#buttons {
    height: 31px;
}

#buttons div {
  float: right;
}
